#MainPage {
  text-align: center;
}

#MainPage > .title > .top,
#MainPage > .title > .title {
  width: 100%;
  max-width: 500px;
}

#MainPage > .body {
  position: relative;
  height: 300px;
}

#MainPage > .body > .text,
#MainPage > .body > .img {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

#MainPage > .body > .text {
  font-family: title1;
  font-size: 1.2em;
  margin-top: 0.3em;
  z-index: 10;
}

#MainPage > .body > .img {
  width: 100%;
  max-width: 250px;
}
#MainPage > .body > .img .bagbody {
  transition: all 100ms ease-in;
}
#MainPage > .body > .img:hover .bagbody {
  fill: var(--yellow);
}

#MainPage > .to-family {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;

  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

#MainPage > .to-family > a > svg {
  width: 100%;
  max-width: 200px;
}

#MainPage > .share > .subsection-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;

  margin-bottom: 1rem;
  font-size: 1.2em;
  font-family: title1;
  line-height: 1rem;
}
#MainPage > .share > .subsection-title svg {
  height: 1.5rem;
}

#MainPage > .share .copy-msg {
  font-size: 0.8em;
  color: var(--pink);
  margin: -0.8em 0 1em 0;
}

#MainPage > .share .btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
#MainPage > .share .btns li {
  width: 3rem;
  cursor: pointer;
}
#MainPage > .share .btns img {
  width: 100%;
}
