#MainFooter {
  width: 100%;
  color: var(--blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: rgba(241, 235, 230, 55%);
  border-radius: 50rem;
  padding: 5rem 0 30rem 0;
  margin: -5rem 0 -30rem 0;
}

#MainFooter > .container {
  width: calc(100% - 2rem);
  max-width: 700px;
  padding: 2rem 1rem;
}

#MainFooter > .container > p {
  font-size: 0.7em;
}

#MainFooter > .container > .church-img {
  max-width: 100px;
  display: block;
  margin: auto;
}
#MainFooter > .container > .church-img path {
  fill: var(--blue);
}

@font-face {
  font-family: "title1";
  src: url("./assets/fonts/KCC-Ganpan.woff") format("woff");
  font-style: normal;
}

@font-face {
  font-family: "body1";
  src: url("./assets/fonts/LeferiPointWhite.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "body1";
  src: url("./assets/fonts/LeferiPointBlack.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
