/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

#MainFooter {
  width: 100%;
  color: white;
  font-size: 0.8em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#MainFooter > .container {
  width: calc(100% - 2rem);
  max-width: 700px;
  padding: 2rem 1rem;
}

#MainFooter .church-btn {
  display: block;
  margin: 0 auto 1em auto;
  font-size: 0.8em;
  background-color: white;
  transition: background-color 150ms ease-in;
}
#MainFooter .church-btn a {
  color: black;
  text-decoration: none;
}
#MainFooter .church-btn:hover {
  background-color: var(--yellow);
}

#MainFooter .church-img {
  max-width: 150px;
  display: block;
  margin: auto;
}
#MainFooter .church-img img {
  width: 100%;
}

@font-face {
  font-family: "tangsbudaejjigae";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "score-dream";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "gangwonedu";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/gangwonedu_light") format("woff");
}
@font-face {
  font-family: "gangwonedu";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/gangwonedu_bold") format("woff");
}
